h1{
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    text-align: center;
}

b{
    color: green;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body{
    background-color: burlywood;
    text-align: center;
}